doctype
html
    head
        meta(charset='utf-8')
        title 피해지모임 채팅방
    body
        div F12를 눌러 console tab과 network tab을 확인하세요
        script
            var webSocket = new WebSocket("ws://localhost:2959");
            webSocket.onopen = function() {
                console.log('server and websocket connection success ! ');
            }
            webSocket.onmessage = function(event) {
                console.log(event.data);
                webSocket.send('클라이언트에서 서버로 답장을 보냅니다.');
            }